{% extends 'base.html' %}
{% block content %}

<p>
    <div>
</div>
</p>

<a class="btn btn-primary" href="{% url 'stocks:stocks' %}" role="button">Баланс</a>

<p>
    <div>
</div>
</p>

<ul class="list-articles">
 <form method="post">
        {%csrf_token%}
        {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <button type="submit"> Добавить </button>
    </form>

</ul>

{%endblock%}