{% extends 'base.html' %}
{% block content %}
<p>
<div>

</div>
</p>


<a class="btn btn-primary" href="{% url 'stocks:add_stock' %}" role="button">Добавить актив</a>


<table class="table">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">

            <p class="h5">Баланс {{balance.total_balance_in_rub}} ₽</p>
            <p class="h6">Прибыль {{balance.profit_in_currency_rub}} ₽ | {{balance.profit_in_percents_rub}}
                % </p>
        </th>
        <th scope="col">
            <p class="h5">Баланс {{balance.total_balance_in_usd}} $</p>
            <p class="h6">Прибыль {{balance.profit_in_currency_usd}} $ | {{balance.profit_in_percents_usd}} % </p>
        </th>
        <th scope="col">
            <p class="h5">Доля в портфеле</p>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for value in assets.values %}
    <tr>
        <th scope="row"> {{ forloop.counter}}</th>
        <td>
            <div class="container text-left">
                <div class="row">
                    <div class="col">
                        {{ value.name.upper }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ value.lot }} шт. &nbsp {{ value.current_price }} {{value.currency}}
                        <!--                        //TODO сделать, чтобы средняя цена выводилась в нужной валюте-->
                    </div>
                </div>
            </div>
        </td>

        <td>
            <div class="container text-right">
                <div class="row">
                    <div class="col">
                        Баланс {{ value.total_now_balance }} {{value.currency}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ value.profit_in_currency }} {{value.currency}} &nbsp {{ value.profit_in_percent }}%
                    </div>
                </div>
            </div>
        </td>

        <td>
            <div class="container text-right">
                <div class="row">
                    <div class="col">
                        {{ value.percent_of_portfolio}} %
                    </div>
                </div>

            </div>
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>


{%endblock%}