{% extends 'base.html' %}
{% block content %}

<p>
<div>

</div>
</p>


<a class="btn btn-primary" href="{% url 'crypto:add_crypto' %}" role="button">Добавить актив</a>


<table class="table">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">
            <p class="h5">Описание</p>
        </th>

        <th scope="col">
            <p class="h5">Процент</p>
        </th>

        <th scope="col">
            <p class="h5">Сумма</p>
        </th>

        <th scope="col">
            <p class="h5">Прибыль</p>
        </th>

        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for deposit in deposits %}
    <tr>
        <th scope="row"> {{ forloop.counter}}</th>
        <td>
            <div class="container text-left">
                <div class="col">
                    {{ deposit.description }}
                </div>
            </div>
        </td>
        <td>
            <div>
                <div class="col">
                    {{deposit.percent}}
                </div>
        </div>
        </td>

        <td>
        <div class="col">
            {{deposit.deposits_summ }} р.
        </div>
        </td>
        <td>
            <div>
                <div class="col">
                    {{deposit.percent}}
                </div>

            </div>
        </td>
        </td>


    </tr>
    {% endfor %}
    </tbody>
</table>


{%endblock%}