{% extends 'base.html' %}
{% block content %}

<ul class="list-articles">
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
            {{ form.username.errors }}
            <label for="{{form.username.id_for_label}}" class="form-label"> {{ form.username.label }}</label>
            {{ form.username }}
        </div>
        <div class="mb-3">
            {{ form.password.errors }}
            <label for="{{form.password.id_for_label}}" class="form-label"> {{ form.password.label }} </label>
            {{ form.password }}
        </div>

        <button type="submit" class="btn btn-primary">Войти</button>
</form>


<!--  <div class="mb-3">-->
<!--    <form method="post">-->
<!--        {% csrf_token %}-->
<!--        {{ form.as_p }}-->
<!--        <button type="submit">Войти</button>-->
<!--    </form>-->
<!--  </div>-->


</ul>

{%endblock%}


