{% extends 'base.html' %}
{% block content %}

<p>
<div>
</div>
</p>

<a class="btn btn-primary" href="{% url 'crypto:crypto' %}" role="button">Баланс</a>
<a class="btn btn-primary" href="{% url 'crypto:add_crypto' %}" role="button">Добавить актив</a>
<a class="btn btn-primary" href="{% url 'crypto:add_invest' %}" role="button">Внести средства</a>
<a class="btn btn-primary" href="{% url 'crypto:person_crypto_transactions' %}" role="button">Транзакции</a>

<p>
<div>
</div>
</p>

<form method="post" class="mt-3">
    {% csrf_token %}
    <div class="alert alert-danger">
        <p class="mb-0">Are you sure you want to delete "{{ object }}"?</p>
    </div>
    {{ form }}
    <button type="submit" class="btn btn-danger">Confirm</button>
</form>

{%endblock%}